<div class="row">
  <div class="col-sm-12 well">
    <h2><%= @question.title %>
      <span class="posted-by">
      <% if User.exists?(@question.user_id) %>
        by: <%=link_to User.find(@question.user_id).username, user_path(User.find(@question.user_id))%>
      <% else %>
        by: Deleted User
      <% end %>
    </span></h2>
    <p><%= @question.description %></p>
    <% if current_user %>
      <% if @question.category_id %>
        <p><%= Category.find(@question.category_id).name %></p>
      <% end %>
      <% if current_user.id == @question.user_id %>
        <%= link_to image_tag("pencil.png"), edit_question_path(@question), :class => 'delete', remote: true %>
      <% end %>
      <%= link_to 'Answer this Question!', new_question_answer_path(@question, @answer), :id => "add-answer", remote: true %>
    <% end %>

  </div>
</div>

<ul class="list-unstyled answers">
  <%= render 'answers/answer' %>
</ul>

<div class="edit-question">
</div>
