<div class="row">
  <div class="col-sm-12 well">
    <h2><%= @question.title %><span class="posted-by">
      <% if User.exists?(@question.user_id) %>
        by: <%=link_to User.find(@question.user_id).username, user_path(User.find(@question.user_id))%>
      <% else %>
        by: Deleted User
      <% end %>
    </span></h2>

    <p><%= @question.description %></p>
    <%= link_to 'Answer this Question!', new_question_answer_path(@question, @answer) %>

  </div>
</div>

<% if @question.answers.any? %>
  <ul class="list-unstyled">
    <% @question.answers.each do |answer| %>
      <li class="answer">
        <span class="answer-description"><%= answer.description %></span><span class="posted-by"> posted by: <%=link_to User.find(answer.user_id).username, user_path(User.find(answer.user_id)) %>

          <br />Rating: <%= link_to image_tag("thumbs_down.svg"), edit_question_answer_path(@question, answer, :option => "down"), class:"delete" %>
            <%= answer.score %>
           <%= link_to image_tag("thumbs_up.svg"), edit_question_answer_path(@question, answer, :option => "up"), class:"delete" %>
        </span>
      </li>
    <% end %>
  </ul>
<% else %>
  <h5>There are no answers yet, do you have any advice!?</h5>
<% end %>
