<h1>Sign Up</h1>
  <%=form_for User.new do |f| %>
    <div class="form-group">
    <%=f.label :username %>
    <%=f.text_field :username, class: "form-control" %>
  </div>
    <div class="form-group">
    <%=f.label :password %>
    <%=f.password_field :password, class: "form-control" %>
  </div>
    <div class="form-group">
    <%=f.label :password_confirmation %>
    <%=f.password_field :password_confirmation, class: "form-control" %>
  </div>
    <div class="form-group">
    <%=f.label :email %>
    <%=f.text_field :email, class: "form-control" %>
  </div>
    <div class="form-group">
    <%=f.label :image %>
    <%=f.text_field :image, :placeholder => "Image URL", class: "form-control" %>
  </div>
    <div class="form-group">
    <%=f.label :cycle_length, "Typical Cycle Length (Days)"  %>
    <%=f.text_field :cycle_length, :placeholder => "28", class: "form-control" %>
  </div>

    <div class="form-group">
      <%=f.label :preference, "Preferred Menstrual Apparatus" %>
      <%=f.text_field :preference, :placeholder => "Diva Cup", class: "form-control" %>
    </div>

    <div class="form-group">
    <%=f.submit "Sign Up", :class => "btn btn-info" %>
    </div>
<%end%>
