<h2><%= @user.username %></h2>

<div class="row">
  <div class="col-sm-5">
    <img class="profile-image" src ="<%= @user.image %>" />
  </div>

  <div class="col-sm-7 well">
    <h5><span class="profile-label">Email </span><%= @user.email %></h5>
    <h5><span class="profile-label">Length of Typical Cycle </span><%= @user.cycle_length %></h5>
    <h5><span class="profile-label">Menstrual Apparatus of Choice </span><%= @user.preference %></h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= @user.bio %>
  </div>
</div>

<div class="row">
  <h5>Questions Asked By <%= @user.username %></h5>
  <div class="col-sm-12">
    <% if @questions.any? %>
    <ul>
      <% @questions.each do |question| %>
      <li><%= link_to question.title, user_question_path(@user, question) %></li>
      <% end %>
    </ul>
    <% else %>
    <h5>You have not asked any questions yet! Don't be shy.</h5>
    <% end %>

  </div>
</div>
